/* ------------ HOME -------------- */
/* body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
} */

main {
    display: flex;
    height: 100vh;
    /* max-height: 100vh; */
    /* border: 1px solid green; */
}

.left-section {
    width: 50%;
    background-color: var(--color-brand-1);
    border-radius: var(--radius-1) 0 0 var(--radius-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-content {
    /* border: 1px solid green; */
    width: 425px;
    position: relative;
}


.left-content>p {
    /* padding-top: 33px; */
    /* padding-bottom: 55px; */
    padding: 33px 0 55px 13px;
}

.recent-content {
    padding-left: 13px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.recent-users {
    display: flex;
    gap: 11px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user>img {
    width: 44px;
    height: 44px;
    border-radius: 50px;
}


.right-section {
    width: 50%;
    background-color: var(--color-grey-2);
    border-radius: 0 var(--radius-1) var(--radius-1) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    /* border: 1px solid yellow; */
    width: 316px;
}

.right-content>h2 {
    padding-bottom: 45px;
}

.right-content>input {
    width: 100%;
    margin: 0.75rem 0 1.25rem 0;
    padding: 9px 0 9px 13px;
    background-color: var(--color-grey-1);
    border-radius: var(--radius-3);
    border: 1px solid var(--color-border-disable);
    color: var(--color-white-opacity);
    font-size: var(--size-text-3);
}

.right-content .alert-input {
    border: 1px solid var(--color-alert);
}

.right-content span {
    color: var(--color-alert);
    margin-bottom: 20px;
    display: block;
}

.right-content .hidden,
.hidden {
    display: none;
}