@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--color-white);
}

:root {
  --color-brand-1: #C2255C;
  --color-brand-2: #D6336C;
  --color-grey-1: #191C1F;
  --color-grey-2: #212529;
  --color-grey-3: #33363A;
  --color-grey-4: #373B3E;
  --color-grey-6: #A6A8A9;
  --color-white: #FFFFFF;
  --color-alert: #C22554;
  --bg-btn-disable: rgba(214, 51, 108, 0.4);
  --color-btn-disable: #FFFFFF35;
  --color-border-disable: #FFFFFF12;
  --color-white-opacity: #FFFFFF60;

  --size-title-1: 32px;
  --size-title-2: 24px;

  --size-text-1: 20px;
  --size-text-2: 16px;
  --size-text-3: 14px;
  --size-text-4: 12px;

  --weight-0: 700;
  --weight-1: 600;
  --weight-2: 500;
  --weight-3: 400;

  --radius-1: 12px;
  --radius-2: 8px;
  --radius-3: 4px;
}

body {
  align-items: center;
  height: 100vh;
  background-color: var(--color-grey-4);
}

ul {
  list-style: none;
}

.title-1 {
  font-size: var(--size-title-1);
  font-weight: var(--weight-1);
}

.title-2 {
  font-size: var(--size-title-2);
  font-weight: var(--weight-0);
}

.text-1 {
  font-size: var(--size-text-1);
  font-weight: var(--weight-3);
}

.text-2 {
  font-size: var(--size-text-1);
  font-weight: var(--weight-2);
}

.text-3 {
  font-size: var(--size-text-2);
  font-weight: var(--weight-2);
}

.text-4 {
  font-size: var(--size-text-3);
  font-weight: var(--weight-2);
}

.text-5 {
  font-size: var(--size-text-3);
  font-weight: var(--weight-3);
  line-height: 150%;
}

.container-1 {
  max-width: 1440px;
  margin: 0 auto;
}

.container-2 {
  width: 784px;
  margin: 0 auto;
}